In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
from google.colab import files
uploaded = files.upload()
import io
application_df = pd.read_csv(io.BytesIO(uploaded['charity_data.csv']))
application_df.head()

Saving charity_data.csv to charity_data (1).csv

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME", "USE_CASE", "SPECIAL_CONSIDERATIONS"], axis = 1, inplace=True)

KeyError: ignored

In [3]:
# Determine which values to replace if counts are less than ...?
replace_application = [i for i in application_df['APPLICATION_TYPE'].value_counts().index if
     application_df['APPLICATION_TYPE'].value_counts()[i]<500]

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Determine which values to replace if counts are less than ..?
replace_class = [application_df['CLASSIFICATION'].value_counts().index[i] for i in
                 range(0,len(application_df['CLASSIFICATION'].value_counts())) if
     application_df['CLASSIFICATION'].value_counts().values[i]<1000]

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [5]:
# Generate our categorical variable lists
#application_df.dtypes

application_cat = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION',
                   'INCOME_AMT','SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
application_enc_df = pd.concat([application_df,encode_df],axis=1).reindex(application_df.index)
application_enc_df.drop(columns=application_cat,axis=1,inplace=True)
application_enc_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
# Split our preprocessed data into our features and target arrays
y = application_enc_df['IS_SUCCESSFUL'].values
X = application_enc_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
nodes_layer1 = 120
nodes_layer2 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 120)               5280

 dense_1 (Dense)             (None, 40)                4840

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 10,161
Trainable params: 10,161
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [12]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints2/",exist_ok=True)
checkpoint_path = "checkpoints2/weights.{epoch:02d}.hdf5"


# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(filepath=checkpoint_path, verbose=1, save_weights_only=True, save_freq=5)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5688 - accuracy: 0.7232
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7280
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7304
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7303
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7326
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7324
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7339
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7335
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7327
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7350
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7355
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7341
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7343
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7355
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7346
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7362
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7349
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7362
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7360
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7366
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7367
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7364
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7372
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7370
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7378
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7379
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7369
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7369
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7375
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7372
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7376
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7369
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7377
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7376
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7381
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7386
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7382
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7389
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7386
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7386
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7382
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7389
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7383
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7386
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7394
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7392
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7392
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7394
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7390
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7402
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7386
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7392
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7397
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7395
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7386
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7393
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7396
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7397
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7393
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7391
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7397
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7397
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7398
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7397
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7403
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7402
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7400
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7402
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7403
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7399
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7398
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7398
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7404
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7404
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7391
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7392
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7406
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7403
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7403
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7397
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7398
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7405
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7402
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7401
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7403